/* Google Font API found at https://fonts.googlepage

********************************************/
@import url('https://fonts.googlepis.com/css2family=h4')



/********************************************
Heading, Link and Misc. Styles
********************************************/
* {
  box-sizing: border-box;
}

  body {
    margin: 0;
  }

  h1,
  h2,
  h3,
  a {
    font-family: 'Secular One', sans-serif;
  }

  h4
  p {

  }

  h4
  p{
    font-size: 18px;
    margin-top: 4px;
  }

  a  {
      text-decoration: none;
    }

    nav,
    nav a,
    footer a {
      color: indigo;
    }

    nav a:hover
    footer a:hover {
      text-decoration: underline;
    }



    /********************************************
    Grid Styles
    ********************************************/
    #siteGrid {
    display: Grid;
    grid-template-columns: 1fr 800px 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "navArea navArea navArea"
        "heroArea heroArea heroArea"
        ". threeCardsArea."
        ". galley1Area."
        "footerArea footArea footArea"
      }
  nav {
    grid-area: navArea;
  }
#hero {
    grid-area: heroArea;
  }
  #threeCards {
    grid-area: threeCardsArea
  }
  #galley1 {
    grid-area: galley1Area
  }
  #twoCards {
    grid-area: twoCardsArea;
  }
  footer {
      grid-area: footArea
    }
   section {
    border: 4px solid blue;
   }



    nav {
      align-items: center;
      display: flex;
      margin: 0 24px;
    }

    footer {
      display: flex;
      justify-content: center;
    }

    #narLinks,
    .socialMedia{
      display: flex;
      list-style-type: none;
    }

    nav .socialMedia {
      justify-content: flex-end;
      padding-left: 0;
      }

      .socialMedia i {
        font-size: 20px
      }

      nav a; hover,
      footer a:hover {
        text-decoration: underline;
      }

    nav ul,
    nav h2,
    flex: 1;
    margin: 0;
    padding: 0;
  }


  #hero {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url ("../assets/abstractBackground.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  #hero h1,
  #hero h4 {
    color: white;
  }

  #hero a {
  background-color: white;
  color: blue
  border: 2px solid indigo;
  border-radius: 24px
  display: inline-block;
padding: 8px 16px;
margin-top: 12px;
min-width: 150px;
transition: transform 0.25;
}

#hero a:hover
transform: scale(1.1);
  }
